
<mat-card class="inputCard">
    <div [formGroup]="leftForm" class="inputForm">
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input formControlName="value" name="val" matInput/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Currency</mat-label>
            <mat-select formControlName = "currency">
                <mat-option *ngFor="let name of nameArray" value="{{name}}">
                    {{name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>
</mat-card>


<mat-card class="inputCard">
    <div [formGroup]="rightForm" class="inputForm">
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input formControlName="value" name="val" matInput/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Currency</mat-label>
            <mat-select formControlName = "currency">
                <mat-option *ngFor="let name of nameArray" value="{{name}}">
                    {{name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>
</mat-card>